@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --additional-1: rgba(168, 224, 183, 1);
  --body-1-bold-font-family: "Nunito", Helvetica;
  --body-1-bold-font-size: 16px;
  --body-1-bold-font-style: normal;
  --body-1-bold-font-weight: 700;
  --body-1-bold-letter-spacing: 0px;
  --body-1-bold-line-height: 139.9999976158142%;
  --body-1-regular-font-family: "Nunito", Helvetica;
  --body-1-regular-font-size: 16px;
  --body-1-regular-font-style: normal;
  --body-1-regular-font-weight: 400;
  --body-1-regular-letter-spacing: 0px;
  --body-1-regular-line-height: 139.9999976158142%;
  --body-1-semibold-font-family: "Nunito", Helvetica;
  --body-1-semibold-font-size: 16px;
  --body-1-semibold-font-style: normal;
  --body-1-semibold-font-weight: 600;
  --body-1-semibold-letter-spacing: 0px;
  --body-1-semibold-line-height: 139.9999976158142%;
  --body-2-bold-font-family: "Nunito", Helvetica;
  --body-2-bold-font-size: 14px;
  --body-2-bold-font-style: normal;
  --body-2-bold-font-weight: 700;
  --body-2-bold-letter-spacing: 0px;
  --body-2-bold-line-height: 139.9999976158142%;
  --body-2-regular-font-family: "Nunito", Helvetica;
  --body-2-regular-font-size: 14px;
  --body-2-regular-font-style: normal;
  --body-2-regular-font-weight: 400;
  --body-2-regular-letter-spacing: 0px;
  --body-2-regular-line-height: 139.9999976158142%;
  --body-2-semibold-font-family: "Nunito", Helvetica;
  --body-2-semibold-font-size: 14px;
  --body-2-semibold-font-style: normal;
  --body-2-semibold-font-weight: 600;
  --body-2-semibold-letter-spacing: 0px;
  --body-2-semibold-line-height: 139.9999976158142%;
  --body-3-bold-font-family: "Nunito", Helvetica;
  --body-3-bold-font-size: 12px;
  --body-3-bold-font-style: normal;
  --body-3-bold-font-weight: 700;
  --body-3-bold-letter-spacing: 0px;
  --body-3-bold-line-height: 139.9999976158142%;
  --body-3-regular-font-family: "Nunito", Helvetica;
  --body-3-regular-font-size: 12px;
  --body-3-regular-font-style: normal;
  --body-3-regular-font-weight: 400;
  --body-3-regular-letter-spacing: 0px;
  --body-3-regular-line-height: 139.9999976158142%;
  --body-3-semibold-font-family: "Nunito", Helvetica;
  --body-3-semibold-font-size: 12px;
  --body-3-semibold-font-style: normal;
  --body-3-semibold-font-weight: 600;
  --body-3-semibold-letter-spacing: 0px;
  --body-3-semibold-line-height: 139.9999976158142%;
  --brand-primary-pr01: rgba(231, 236, 252, 1);
  --brand-primary-pr02: rgba(206, 217, 249, 1);
  --brand-primary-pr06: rgba(108, 141, 239, 1);
  --brand-primary-pr08: rgba(59, 103, 233, 1);
  --brand-primary-pr09: rgba(35, 84, 230, 1);
  --brand-primary-pr10: rgba(24, 73, 214, 1);
  --brand-primary-pr11: rgba(22, 64, 193, 1);
  --caption-1-bold-font-family: "Nunito", Helvetica;
  --caption-1-bold-font-size: 12px;
  --caption-1-bold-font-style: normal;
  --caption-1-bold-font-weight: 700;
  --caption-1-bold-letter-spacing: 0px;
  --caption-1-bold-line-height: 139.9999976158142%;
  --caption-1-regular-font-family: "Nunito", Helvetica;
  --caption-1-regular-font-size: 12px;
  --caption-1-regular-font-style: normal;
  --caption-1-regular-font-weight: 400;
  --caption-1-regular-letter-spacing: 0px;
  --caption-1-regular-line-height: 139.9999976158142%;
  --caption-1-semibold-font-family: "Nunito", Helvetica;
  --caption-1-semibold-font-size: 12px;
  --caption-1-semibold-font-style: normal;
  --caption-1-semibold-font-weight: 600;
  --caption-1-semibold-letter-spacing: 0px;
  --caption-1-semibold-line-height: 139.9999976158142%;
  --caption-2-bold-font-family: "Nunito", Helvetica;
  --caption-2-bold-font-size: 10px;
  --caption-2-bold-font-style: normal;
  --caption-2-bold-font-weight: 700;
  --caption-2-bold-letter-spacing: 0px;
  --caption-2-bold-line-height: 139.9999976158142%;
  --caption-2-regular-font-family: "Nunito", Helvetica;
  --caption-2-regular-font-size: 10px;
  --caption-2-regular-font-style: normal;
  --caption-2-regular-font-weight: 400;
  --caption-2-regular-letter-spacing: 0px;
  --caption-2-regular-line-height: 139.9999976158142%;
  --caption-2-semibold-font-family: "Nunito", Helvetica;
  --caption-2-semibold-font-size: 10px;
  --caption-2-semibold-font-style: normal;
  --caption-2-semibold-font-weight: 600;
  --caption-2-semibold-letter-spacing: 0px;
  --caption-2-semibold-line-height: 139.9999976158142%;
  --display-1-bold-font-family: "Nunito", Helvetica;
  --display-1-bold-font-size: 60px;
  --display-1-bold-font-style: normal;
  --display-1-bold-font-weight: 700;
  --display-1-bold-letter-spacing: 0.3px;
  --display-1-bold-line-height: 120.00000476837158%;
  --display-1-regular-font-family: "Nunito", Helvetica;
  --display-1-regular-font-size: 60px;
  --display-1-regular-font-style: normal;
  --display-1-regular-font-weight: 400;
  --display-1-regular-letter-spacing: 0.3px;
  --display-1-regular-line-height: 120.00000476837158%;
  --display-1-semibold-font-family: "Nunito", Helvetica;
  --display-1-semibold-font-size: 60px;
  --display-1-semibold-font-style: normal;
  --display-1-semibold-font-weight: 600;
  --display-1-semibold-letter-spacing: 0.3px;
  --display-1-semibold-line-height: 120.00000476837158%;
  --display-2-bold-font-family: "Nunito", Helvetica;
  --display-2-bold-font-size: 54px;
  --display-2-bold-font-style: normal;
  --display-2-bold-font-weight: 700;
  --display-2-bold-letter-spacing: 0.27px;
  --display-2-bold-line-height: 120.00000476837158%;
  --display-2-regular-font-family: "Nunito", Helvetica;
  --display-2-regular-font-size: 54px;
  --display-2-regular-font-style: normal;
  --display-2-regular-font-weight: 400;
  --display-2-regular-letter-spacing: 0.27px;
  --display-2-regular-line-height: 120.00000476837158%;
  --display-2-semibold-font-family: "Nunito", Helvetica;
  --display-2-semibold-font-size: 54px;
  --display-2-semibold-font-style: normal;
  --display-2-semibold-font-weight: 600;
  --display-2-semibold-letter-spacing: 0.27px;
  --display-2-semibold-line-height: 120.00000476837158%;
  --drop-shadow: 0px 0px 4px 15px rgba(0, 0, 0, 0.25);
  --drop-shadow-2: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  --drop-shadow-3: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  --heading-1-bold-font-family: "Nunito", Helvetica;
  --heading-1-bold-font-size: 48px;
  --heading-1-bold-font-style: normal;
  --heading-1-bold-font-weight: 700;
  --heading-1-bold-letter-spacing: 0.24px;
  --heading-1-bold-line-height: 129.99999523162842%;
  --heading-1-regular-font-family: "Nunito", Helvetica;
  --heading-1-regular-font-size: 48px;
  --heading-1-regular-font-style: normal;
  --heading-1-regular-font-weight: 400;
  --heading-1-regular-letter-spacing: 0.24px;
  --heading-1-regular-line-height: 129.99999523162842%;
  --heading-1-semibold-font-family: "Nunito", Helvetica;
  --heading-1-semibold-font-size: 48px;
  --heading-1-semibold-font-style: normal;
  --heading-1-semibold-font-weight: 600;
  --heading-1-semibold-letter-spacing: 0.24px;
  --heading-1-semibold-line-height: 129.99999523162842%;
  --heading-2-bold-font-family: "Nunito", Helvetica;
  --heading-2-bold-font-size: 42px;
  --heading-2-bold-font-style: normal;
  --heading-2-bold-font-weight: 700;
  --heading-2-bold-letter-spacing: 0.21px;
  --heading-2-bold-line-height: 129.99999523162842%;
  --heading-2-regular-font-family: "Nunito", Helvetica;
  --heading-2-regular-font-size: 42px;
  --heading-2-regular-font-style: normal;
  --heading-2-regular-font-weight: 400;
  --heading-2-regular-letter-spacing: 0.21px;
  --heading-2-regular-line-height: 129.99999523162842%;
  --heading-2-semibold-font-family: "Nunito", Helvetica;
  --heading-2-semibold-font-size: 42px;
  --heading-2-semibold-font-style: normal;
  --heading-2-semibold-font-weight: 600;
  --heading-2-semibold-letter-spacing: 0.21px;
  --heading-2-semibold-line-height: 129.99999523162842%;
  --heading-3-bold-font-family: "Nunito", Helvetica;
  --heading-3-bold-font-size: 38px;
  --heading-3-bold-font-style: normal;
  --heading-3-bold-font-weight: 700;
  --heading-3-bold-letter-spacing: 0.19px;
  --heading-3-bold-line-height: 129.99999523162842%;
  --heading-3-regular-font-family: "Nunito", Helvetica;
  --heading-3-regular-font-size: 38px;
  --heading-3-regular-font-style: normal;
  --heading-3-regular-font-weight: 400;
  --heading-3-regular-letter-spacing: 0.19px;
  --heading-3-regular-line-height: 129.99999523162842%;
  --heading-3-semibold-font-family: "Nunito", Helvetica;
  --heading-3-semibold-font-size: 38px;
  --heading-3-semibold-font-style: normal;
  --heading-3-semibold-font-weight: 600;
  --heading-3-semibold-letter-spacing: 0.19px;
  --heading-3-semibold-line-height: 129.99999523162842%;
  --heading-4-bold-font-family: "Nunito", Helvetica;
  --heading-4-bold-font-size: 32px;
  --heading-4-bold-font-style: normal;
  --heading-4-bold-font-weight: 700;
  --heading-4-bold-letter-spacing: 0.16px;
  --heading-4-bold-line-height: 150%;
  --heading-4-regular-font-family: "Nunito", Helvetica;
  --heading-4-regular-font-size: 32px;
  --heading-4-regular-font-style: normal;
  --heading-4-regular-font-weight: 400;
  --heading-4-regular-letter-spacing: 0.16px;
  --heading-4-regular-line-height: 150%;
  --heading-4-semibold-font-family: "Nunito", Helvetica;
  --heading-4-semibold-font-size: 32px;
  --heading-4-semibold-font-style: normal;
  --heading-4-semibold-font-weight: 600;
  --heading-4-semibold-letter-spacing: 0.16px;
  --heading-4-semibold-line-height: 150%;
  --heading-5-bold-font-family: "Nunito", Helvetica;
  --heading-5-bold-font-size: 26px;
  --heading-5-bold-font-style: normal;
  --heading-5-bold-font-weight: 700;
  --heading-5-bold-letter-spacing: 0.13px;
  --heading-5-bold-line-height: 150%;
  --heading-5-regular-font-family: "Nunito", Helvetica;
  --heading-5-regular-font-size: 26px;
  --heading-5-regular-font-style: normal;
  --heading-5-regular-font-weight: 400;
  --heading-5-regular-letter-spacing: 0.13px;
  --heading-5-regular-line-height: 150%;
  --heading-5-semibold-font-family: "Nunito", Helvetica;
  --heading-5-semibold-font-size: 26px;
  --heading-5-semibold-font-style: normal;
  --heading-5-semibold-font-weight: 600;
  --heading-5-semibold-letter-spacing: 0.13px;
  --heading-5-semibold-line-height: 150%;
  --heading-6-bold-font-family: "Nunito", Helvetica;
  --heading-6-bold-font-size: 24px;
  --heading-6-bold-font-style: normal;
  --heading-6-bold-font-weight: 700;
  --heading-6-bold-letter-spacing: 0.12px;
  --heading-6-bold-line-height: 150%;
  --heading-6-regular-font-family: "Nunito", Helvetica;
  --heading-6-regular-font-size: 24px;
  --heading-6-regular-font-style: normal;
  --heading-6-regular-font-weight: 400;
  --heading-6-regular-letter-spacing: 0.12px;
  --heading-6-regular-line-height: 150%;
  --heading-6-semibold-font-family: "Nunito", Helvetica;
  --heading-6-semibold-font-size: 24px;
  --heading-6-semibold-font-style: normal;
  --heading-6-semibold-font-weight: 600;
  --heading-6-semibold-letter-spacing: 0.12px;
  --heading-6-semibold-line-height: 150%;
  --heading-7-bold-font-family: "Nunito", Helvetica;
  --heading-7-bold-font-size: 20px;
  --heading-7-bold-font-style: normal;
  --heading-7-bold-font-weight: 700;
  --heading-7-bold-letter-spacing: 0.1px;
  --heading-7-bold-line-height: 150%;
  --heading-7-regular-font-family: "Nunito", Helvetica;
  --heading-7-regular-font-size: 20px;
  --heading-7-regular-font-style: normal;
  --heading-7-regular-font-weight: 400;
  --heading-7-regular-letter-spacing: 0.1px;
  --heading-7-regular-line-height: 150%;
  --heading-7-semibold-font-family: "Nunito", Helvetica;
  --heading-7-semibold-font-size: 20px;
  --heading-7-semibold-font-style: normal;
  --heading-7-semibold-font-weight: 600;
  --heading-7-semibold-letter-spacing: 0.1px;
  --heading-7-semibold-line-height: 150%;
  --heading-8-bold-font-family: "Nunito", Helvetica;
  --heading-8-bold-font-size: 18px;
  --heading-8-bold-font-style: normal;
  --heading-8-bold-font-weight: 700;
  --heading-8-bold-letter-spacing: 0.09px;
  --heading-8-bold-line-height: 150%;
  --heading-8-regular-font-family: "Nunito", Helvetica;
  --heading-8-regular-font-size: 18px;
  --heading-8-regular-font-style: normal;
  --heading-8-regular-font-weight: 400;
  --heading-8-regular-letter-spacing: 0.09px;
  --heading-8-regular-line-height: 150%;
  --heading-8-semibold-font-family: "Nunito", Helvetica;
  --heading-8-semibold-font-size: 18px;
  --heading-8-semibold-font-style: normal;
  --heading-8-semibold-font-weight: 600;
  --heading-8-semibold-letter-spacing: 0.09px;
  --heading-8-semibold-line-height: 150%;
  --italiac-font-family: "Nunito", Helvetica;
  --italiac-font-size: 24px;
  --italiac-font-style: italic;
  --italiac-font-weight: 400;
  --italiac-letter-spacing: 0.12px;
  --italiac-line-height: 150%;
  --primary-1: rgba(255, 255, 255, 1);
  --primary-2: rgba(35, 93, 58, 1);
  --secondary-1: rgba(200, 234, 209, 1);
  --secondary-2: rgba(57, 125, 84, 1);
  --tersier-1: var(--variable-collection-tersier-1);
  --tersier-2: var(--variable-collection-pske-blsck-ini-ges);
  --text-sm-medium-font-family: "Inter", Helvetica;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-font-style: normal;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --variable-collection-7b7b7b: rgba(255, 255, 255, 1);
  --variable-collection-chat-kolom: rgba(242, 244, 245, 1);
  --variable-collection-cht-udh-d-baca: rgba(151, 156, 158, 1);
  --variable-collection-darkgrey: rgba(123, 123, 123, 1);
  --variable-collection-grey: rgba(159, 159, 159, 1);
  --variable-collection-pske-blsck-ini-ges: rgba(31, 31, 31, 1);
  --variable-collection-pure-black: rgba(0, 0, 0, 1);
  --variable-collection-tersier-1: rgba(255, 0, 0, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-brand-mode="core">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-brand-mode="core"] {
  --brand-primary-pr01: rgba(231, 236, 252, 1);
  --brand-primary-pr02: rgba(206, 217, 249, 1);
  --brand-primary-pr06: rgba(108, 141, 239, 1);
  --brand-primary-pr08: rgba(59, 103, 233, 1);
  --brand-primary-pr09: rgba(35, 84, 230, 1);
  --brand-primary-pr10: rgba(24, 73, 214, 1);
  --brand-primary-pr11: rgba(22, 64, 193, 1);
}

[data-brand-mode="brand-1"] {
  --brand-primary-pr01: rgba(231, 240, 253, 1);
  --brand-primary-pr02: rgba(207, 224, 251, 1);
  --brand-primary-pr06: rgba(111, 163, 242, 1);
  --brand-primary-pr08: rgba(62, 132, 237, 1);
  --brand-primary-pr09: rgba(38, 117, 235, 1);
  --brand-primary-pr10: rgba(21, 104, 226, 1);
  --brand-primary-pr11: rgba(19, 93, 203, 1);
}

[data-brand-mode="brand-2"] {
  --brand-primary-pr01: rgba(239, 239, 255, 1);
  --brand-primary-pr02: rgba(224, 222, 255, 1);
  --brand-primary-pr06: rgba(161, 157, 255, 1);
  --brand-primary-pr08: rgba(130, 124, 255, 1);
  --brand-primary-pr09: rgba(115, 108, 255, 1);
  --brand-primary-pr10: rgba(99, 91, 255, 1);
  --brand-primary-pr11: rgba(67, 57, 255, 1);
}

[data-brand-mode="brand-3"] {
  --brand-primary-pr01: rgba(234, 249, 254, 1);
  --brand-primary-pr02: rgba(214, 243, 253, 1);
  --brand-primary-pr06: rgba(131, 220, 250, 1);
  --brand-primary-pr08: rgba(89, 209, 249, 1);
  --brand-primary-pr09: rgba(69, 203, 248, 1);
  --brand-primary-pr10: rgba(48, 197, 247, 1);
  --brand-primary-pr11: rgba(20, 189, 246, 1);
}
